@import url('https://fonts.googleapis.com/css?family=Exo+2:100&subset=cyrillic');
@import 'theme';

.document {
  margin: 0;
  padding: 0;
  font: {
    family: 'Trebuchet MS', sans-serif;
  }
  color: #fff;

  &__body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(colors('pageBackground'), .5), transparent 50%, rgba(colors('pageBackground'), .5) 100%), url(../images/tile.jpg);
    background-color: colors('pageBackground');
    overflow-x: hidden;
  }
}

.title {
  font: {
    size: 36px;
    family: 'Exo 2', sans-serif;
    weigh: 100;
  }
  text-align: center;
  margin: 0 0 30px 0;
}

//Layout
.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
.container {
  margin: auto;
}

//Packs grid
.packs {
  margin: -30px -80px 0 0;
  overflow: hidden;
  text-align: center;
}

//Pack
.pack {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  width: 340px;
  margin: 30px 80px 0 0;
  overflow: hidden;
  text-align: left;
  color: colors('packDefault'); //Border color
  &:hover,
  &:focus {
    color: colors('packDefaultHover');
  }
  &:focus {
    outline: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1 + $packCorner + px; //Fix for scale
    height: 1 + $packCorner + px;
    content: '';
    background: linear-gradient(135deg, transparent 0%,transparent 50%, colors('packBackground') 50%, colors('packBackground') 100%);
  }

  &__inner {
    color: inherit;
    margin: 0 0 0 $packCorner + px;
    padding: 20px 20px 0 0;
    background-color: colors('packBackground');
    border-radius: 0 10px 10px 0;
    border: $packBorderWidth + px solid currentColor;
    border-left: none;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;

    &::after {
      position: absolute;
      top: $packCorner - $packBorderWidth + px;
      width: 1 + $packCorner + px; //Fix for scale
      left: -$packCorner + px;
      bottom: - $packBorderWidth + px;
      content: '';
      background-color: colors('packBackground');
      border-radius: 0 0 0 10px;
      border: $packBorderWidth + px solid currentColor;
      border-top: none;
      border-right: none;
      box-sizing: border-box;
    }

  }

  &__caption {
    color: #666;
    font: {
      size: 14px;
    }

    &_selected-hover {
      color: currentColor;
      display: none;
    }

  }

  &__title {
    margin: 10px 0 0 0;
    color: #000;
    font: {
      size: 48px;
      weight: bold;
    }
  }

  &__subtitle {
    margin: 0 0 20px 0;
    color: #000;
    font: {
      size: 24px;
      weight: bold;
    }
  }

  &__features {
    padding: 0;
    margin: 0;
    font: {
      size: 14px;
    }
    line-height: 1.5em;
    min-height: 4.5em;
  }

  &__feature {
    list-style: none;
    color: #666666;
  }

  &__image {
    padding: 100% 0 0 0;
    margin: 20px 0 0 0;
    width: 100%;
    height: 0;
    position: relative;

    .img {
      content: '';
      position: absolute;
      z-index: 99;
      top: 0;
      left: -$packCorner + $packBorderWidth + px;
      right: -20px; //Padding
      bottom: 0;
      background: {
        image: url(../images/cat.png);
        size: 115% auto;
        repeat: no-repeat;
        position: -25px 0;
      }
      overflow: hidden;
      border-radius: 0 $packBorderWidth + px $packBorderWidth + px 0;
    }
  }

  &__badge {
    border-radius: 50%;
    background-color: currentColor;
    padding: 14px;
    position: absolute;
    right: 14px;
    bottom: 14px;
    z-index: 99;
    text-align: center;
  }

  &__weight {
    color: #fff;
    font: {
      size: 42px;
    }
    min-width: 1.5em;
  }

  &__units {
    color: #fff;
    font: {
      size: 21px;
    }
    margin: -.3em 0;
  }

  //Footnote
  &__footnote {
    text-align: center;
    padding: 10px 0;
    font: {
      size: 13px;
    }
    color: #fff;
    a {
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px dashed currentColor;
      box-sizing: content-box;
      margin-bottom: -1px;
      cursor: pointer;
      color: colors('packDefault');
    }

    &_disabled,
    &_selected {
      display: none;
    }
    &_disabled {
      color: #ffff66; 
    }
  }
  &:hover &__footnote {
    a {
      color: colors('packDefaultHover')
    }
  }
}

//Pack states
.pack {
  &_state {

    //Disabled
    &_disabled {
      color: colors('packDisabled');
      pointer-events: none;
      .pack {
        &__caption, &__title, &__subtitle, &__feature {
          color: inherit;
        }
        &__footnote {
          &_default {
            display: none;
          }
          &_disabled {
            display: block;
          }
        }
      }
      .img {
        opacity: .5;
      }
    }

    //Preselected
    &_preselected {
      color: colors('packSelected');
      .pack__footnote {
        &_default {
          display: none;
        }
        &_selected {
          display: block;
        }
      }

      &:hover,
      &:focus {
        color: colors('packSelectedHover');
      }
    }


    //Selected
    &_selected {
      //Selected hover
      &:hover {
        .pack__caption {
          &_default {
            display: none;
          }
          &_selected-hover {
            display: block;
          }
        }
      }
    }

  }
}

//Pack corner
.corner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: $packCorner + px;
  width: $packCorner + px;

  &__border {
    stroke-width: $packBorderWidth + px;
    stroke: currentColor;
    transform: scale(1.01);
  }
}

//Internet Explorer
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    display: table;
    min-height: 100vh;
    width: 100%;
  }
  .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
//Internet Explorer 9
@media screen and (min-width:0) and (min-resolution: .001dpcm) {
  .pack::before {
    background: {
      image: url(../images/fallback/corner.png);
      size: 100% 100%;
    }
  }
}